/* global/overall styles  */
:root{
  --soft-blue:#66C3FF;
    --accent-color: #53D8FB;
    --grey:#DCE1E9;
    --black:#363732;

    /* padding */

    --section-padding-y: 1.5rem; /* top & bottom */
    --section-padding-x: 3rem; /* left & right */
}


html {
    scroll-behavior: smooth;
  }
  /* General Reset */
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
  }
  /* End of Global/Overall styles */
/* fixed banner */
.fixedBanner{
  display: flex;
  justify-content: center;
  background-color: var(--black);
  padding: .75rem;
}

.fixedBanner p{
  color:#fff ;
  font-weight: bold;
}
/* end of fixed banner */
/* Navbar Styles */

  
  .nav {
  
    padding: 1rem 2rem;
    /* backdrop-filter: blur(1px); */
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: box-shadow 0.3s ease-in-out;
    animation: fade-down 0.7s;
    background-color: var(--soft-blue);

  }
  
  .nav__logo,
  .nav__logo a {
    text-align: center;
    font-size: 1rem;
    color: #fff;
    font-weight: bold;
  }
  .nav__logo__highlight {
    color:#fff;
    font-size: 1rem;
  }
  .nav__logo img {
    padding: 0 4px;
    width: 100%;
  }
  
  .nav__menu ul {
    display: flex;
    list-style: none;
  }
  
  .nav__menu ul li {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .nav__menu ul li a i {
    font-size: 2.5rem;
  }
  
  .nav__menu ul li a {
    color: #fff;
    margin-left: 1.5rem;
    font-size: 1.5rem;
    transition: color 0.3s ease;
  }

  .nav__menu ul li a:hover,
  .nav__menu ul li a:focus {
    /* border-bottom: 2px solid var(--accent-color); */
    color: var(--grey);
    transform: translateY(-2px);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  }
  
  .nav__hamburger {
    width: 1.5rem;
    z-index: 2000;
    height: 1rem;
    display: none;
    color: #fff;
    flex-direction: column;
    justify-content: space-around;
  }
  
  .nav__hamburger__line {
    height: 0.13rem;
    width: 100%;
    background-color: #0288d1;
    border-radius: 0.625rem;
    transition: all ease-in-out 0.2s;
  }
/* mission section */
.MissionStatement{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: url(Photos/joel-muniz-3k3l2brxmwQ-unsplash.jpg);
    background-size: cover;       /* Makes the image cover the entire section */
    background-position: center;  /* Centers the image */
    background-repeat: no-repeat; 
    padding: 2rem 4rem;
}
.missionsParagraphContainer{
    display: flex;
    align-items: center;   
    text-align: center;

}
.missionParagraph{
    color: #fff;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.3);
    font-size: 2rem;
}
  

.MissionImgContainer{
}

.MissionImgContainer img{
    object-fit: contain;
    width: 100%;
    height: 100%;
}



  /* end of mission statement */


  /* card section  */

  .cardSection{
    display: flex;
    flex-direction: row;
justify-content: space-evenly;
padding: var(--section-padding-y);
  }

  .card {
  width: 15rem;
  border-radius: 20px;
  background: #f5f5f5;
  position: relative;
  padding: 1.8rem;
  border: 2px solid #c3c6ce;
  transition: 0.5s ease-out;
  overflow: visible;
  display: flex;
  flex-direction: column;
 
 }
 
 .card-details {
  color: black;
  height: 100%;
  gap: .5em;
  display: grid;
  text-align: center;
  place-content: center;
 }
 
 .card-button {
  transform: translate(-50%, 125%);
  width: 60%;
  border-radius: 1rem;
  border: none;
  background-color: var(--accent-color);
  color: #fff;
  font-size: 1rem;
  padding: .5rem 1rem;
  position: absolute;
  left: 50%;
  bottom: 0;
  opacity: 0;
  transition: 0.3s ease-out;
 }
 
 .text-body {
  color: rgb(134, 134, 134);
 }
 
 /*Text*/
 .text-title {
  font-size: 1.5em;
  font-weight: bold;
 }
 
 /*Hover*/
 .card:hover {
  border-color: var(--accent-color);
  box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.25);
 }
 
 .card:hover .card-button {
  transform: translate(-50%, 50%);
  opacity: 1;
 }

 /* card image  */

.cardImageContainer{
  width: 10rem;
}
.cardImageContainer img{
  object-fit: cover;
  height: 100%;
  width: 100%;
}
  /* end of card section styles */



  /* footer styles */
  
  /* end of swiper */
  .footer {
    background-color: rgba(0, 0, 0, 0.918);
    padding: 1rem 0;
  }
  
  .footer__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 2rem;
  }
  
  .footer__logo {
    flex: 1;
    text-align: center;
  }
  
  .footer__logo img {
    width: 100px;
    margin-bottom: 1rem;
  }
  
  .footer__logo p {
    font-size: 1rem;
    color: #aaa;
  }
  
  .footer__links,
  .footer__contact,
  .footer__social {
    flex: 1;
    margin: 1rem 0;
    text-align: center;
  }
  
  .footer__links h4,
  .footer__contact h4,
  .footer__social h4 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    color: #fff;
  }
  
  .footer__links ul {
    list-style: none;
    padding: 0;
  }
  
  .footer__links ul li {
    margin: 0.5rem 0;
  }
  
  .footer__links ul li a {
    text-decoration: none;
    font-size: 1.1rem;
    color: #fff;
    transition: color 0.3s ease;
  }
  
  .footer__links ul li a:hover {
    border-bottom: 2px solid var(--accent-color);
    color: var(--primary-color);
  }
  
  .footer__contact p {
    margin: 0.5rem 0;
    font-size: 1.1rem;
    color: #fff;
  }
  
  .footer__contact a {
    font-weight: bold;
    color: #fff;
  
    text-decoration: none;
  }
  .footer__contact a:hover {
    border-bottom: 2px solid var(--accent-color);
    color: white;
  }
  
  .footer__social a {
    margin: 0 0.5rem;
  }
  
  .footer__social i {
    font-size: 2rem;
    color: #fff;
  }
  
  .footer__social i:hover {
    transition: all 0.3s ease;
    color: var(--accent-color);
  }
  
  .footer__copyright {
    text-align: center;
    color: #fff;
  
    padding: 1rem 0;
    background-color: #00000049;
  
    font-size: 0.9rem;
  }
  /* end of footer styles */
  /* iphone ver */
  @media (max-width: 768px) {

    .nav__logo,
    .nav__logo a {
      font-weight: 300;
      padding: 0;
      font-size: 1.25rem;
      line-height: 1;
      width: 12rem;
      text-align: left;
    }
    .nav__menu ul li a,
    .nav__menu ul li a i {
      color: #fffcfc;
      font-size: 2rem;
    }
    .nav__hamburger {
      display: flex;
    }
    .nav__location {
      display: flex;
      color: #cacaca;
  
      font-size: 0.5rem;
      align-items: center;
      justify-content: center;
      font-weight: 100;
      position: absolute;
      top: 2.3rem;
      right: 1rem;
    }
    .nav__location i {
      padding: 0.3rem;
    }
    .nav__menu {
      position: absolute;
      display: flex;
      flex-direction: column; /* Stack items vertically */
      align-items: center;
      background-color: rgba(255, 255, 255, 0.13);
      top: -15rem;
      width: 100%;
      transition: all ease-in-out 0.4s;
    }
  
    .nav__menu ul {
      flex-direction: column;
      width: 100%;
      padding: 0rem;
      align-items: center;
      justify-content: space-evenly;
      height: 100%;
    }
    .nav__menu .nav__menuUl {
      padding-top: 3rem;
    }
    .nav__menu ul li button {
      width: unset;
      padding: 1.5rem 0;
      font-size: 1.5rem;
      width: 50vw;
    }
    .nav__menu ul li {
      text-align: center;
      width: 100%;
      margin: 1rem 0;
    }
  
    .nav__menu {
      display: none;
    }
  
    .nav__menu.active {
      display: flex;
      flex-direction: column;
      position: absolute;
      top: 0;
      right: 0;
      background-color: #000000f6;
      width: 100%;
      z-index: 1000;
      backdrop-filter: blur(5px);
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      overflow-x: hidden;
    }
  
    .nav__hamburger.active .nav__hamburger__line:nth-child(1) {
      transform: rotate(45deg) translate(0.45rem, 0.1875rem);
    }
  
    .nav__hamburger.active .nav__hamburger__line:nth-child(2) {
      opacity: 0;
    }
  
    .nav__hamburger.active .nav__hamburger__line:nth-child(3) {
      transform: rotate(-45deg) translate(0.25rem, -0.01975rem);
    }
  
    .nav__hamburger.active .nav__hamburger__line {
      transition: all ease-in-out 0.35s;
      background-color: rgb(255, 255, 255);
  
      z-index: 2000;
    }
    .MissionStatement{
      flex-direction: column;
      padding:0;
      padding-bottom: 2rem;
    }

    .MissionImgContainer{
      display: flex;
      justify-content: center;
    }
    .MissionImgContainer img{
      width: 50%;
      height: 50%;
  }

  .card{
    width: 100%;
align-items: center;  }
  }
  

  
 