/* global/overall styles  */
:root{
    --accent-color: #0288d1;
    --grey:#8b8c89;
}


html {
    scroll-behavior: smooth;
  }
  /* General Reset */
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
  }
  /* End of Global/Overall styles */

/* Navbar Styles */

  
  .nav {
  
    padding: 2rem 5rem;
    /* backdrop-filter: blur(1px); */
    display: flex;
    justify-content: space-between;
    align-items: center;
  background-color: var(--accent-color);
    transition: box-shadow 0.3s ease-in-out;
    animation: fade-down 0.7s;

  }
  
  .nav__logo,
  .nav__logo a {
    
    text-align: center;
    font-size: 1.2rem;
    color: #000000;
    font-weight: bold;
  }
  .nav__logo__highlight {
    color: #fff;
    font-size: 1rem;
  }
  .nav__logo img {
    padding: 0 4px;
    width: 100%;
  }
  
  .nav__menu ul {
    display: flex;
    list-style: none;
  }
  
  .nav__menu ul li {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .nav__menu ul li a i {
    font-size: 2.5rem;
  }
  
  .nav__menu ul li a {
    color: #fff;
    font-weight: 400;
    margin-left: 1.5rem;
    font-size: 1.5rem;
    transition: color 0.3s ease;
  }

  .nav__menu ul li a:hover,
  .nav__menu ul li a:focus {
    /* border-bottom: 2px solid var(--accent-color); */
    color: var(--grey);
    transform: translateY(-2px);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  }
  
  .nav__hamburger {
    width: 1.5rem;
    z-index: 2000;
    height: 1rem;
    display: none;
    color: #fff;
    flex-direction: column;
    justify-content: space-around;
  }
  
  .nav__hamburger__line {
    height: 0.13rem;
    width: 100%;
    background-color: #0288d1;
    border-radius: 0.625rem;
    transition: all ease-in-out 0.2s;
  }
/* mission section */
.MissionStatement{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: url(Photos/joel-muniz-3k3l2brxmwQ-unsplash.jpg);
    background-size: cover;       /* Makes the image cover the entire section */
    background-position: center;  /* Centers the image */
    background-repeat: no-repeat; 
    padding: 2rem 4rem;
}
.missionsParagraphContainer{
    display: flex;
    align-items: center;   
    text-align: center;

}
.missionParagraph{
    color: #fff;
    font-size: 2rem;
}
  

.MissionImgContainer{
}

.MissionImgContainer img{
    object-fit: contain;
    width: 100%;
    height: 100%;
}



  /* end of mission statement */


  /* iphone ver */
  @media screen and (min-width: 375px) and (max-width: 812px) and (orientation: portrait) {
    .navUpper {
      height: unset;
      flex-direction: row;
      border-radius: unset;
      padding: 1rem 2rem;
    }
  
    .nav__logo,
    .nav__logo a {
      font-weight: 300;
      padding: 0;
      font-size: 1.25rem;
      line-height: 1;
      width: 12rem;
      text-align: left;
    }
    .nav__menu ul li a,
    .nav__menu ul li a i {
      color: #fffcfc;
      font-size: 2rem;
    }
    .nav__hamburger {
      display: flex;
    }
    .nav__location {
      display: flex;
      color: #cacaca;
  
      font-size: 0.5rem;
      align-items: center;
      justify-content: center;
      font-weight: 100;
      position: absolute;
      top: 2.3rem;
      right: 1rem;
    }
    .nav__location i {
      padding: 0.3rem;
    }
    .nav__menu {
      position: absolute;
      display: flex;
      flex-direction: column; /* Stack items vertically */
      align-items: center;
      background-color: rgba(255, 255, 255, 0.13);
      top: -15rem;
      width: 100%;
      transition: all ease-in-out 0.4s;
    }
  
    .nav__menu ul {
      flex-direction: column;
      width: 100%;
      padding: 0rem;
      align-items: center;
      justify-content: space-evenly;
      height: 100%;
    }
    .nav__menu .nav__menuUl {
      padding-top: 3rem;
    }
    .nav__menu ul li button {
      width: unset;
      padding: 1.5rem 0;
      font-size: 1.5rem;
      width: 50vw;
    }
    .nav__menu ul li {
      text-align: center;
      width: 100%;
      margin: 1rem 0;
    }
  
    .nav__menu {
      display: none;
    }
  
    .nav__menu.active {
      display: flex;
      flex-direction: column;
      position: absolute;
      top: 0;
      right: 0;
      background-color: #000000f6;
      width: 100%;
      z-index: 1000;
      backdrop-filter: blur(5px);
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      overflow-x: hidden;
    }
  
    .nav__hamburger.active .nav__hamburger__line:nth-child(1) {
      transform: rotate(45deg) translate(0.45rem, 0.1875rem);
    }
  
    .nav__hamburger.active .nav__hamburger__line:nth-child(2) {
      opacity: 0;
    }
  
    .nav__hamburger.active .nav__hamburger__line:nth-child(3) {
      transform: rotate(-45deg) translate(0.25rem, -0.01975rem);
    }
  
    .nav__hamburger.active .nav__hamburger__line {
      transition: all ease-in-out 0.35s;
      background-color: rgb(255, 255, 255);
  
      z-index: 2000;
    }
  }
  
  @media screen and (min-width: 667px) and (max-width: 935px) and (orientation: landscape) {
    .navUpper {
      height: unset;
      flex-direction: row;
      border-radius: unset;
      padding: 1rem 2rem;
    }
  
    .nav__logo,
    .nav__logo a {
      font-weight: 100;
      padding: 0;
      font-size: 1rem;
      line-height: 1;
      width: 10rem;
      text-align: left;
    }
    .nav__menu ul li a,
    .nav__menu ul li a i {
      color: #fffcfc;
      font-size: 2rem;
    }
    .nav__hamburger {
      display: flex;
    }
    .nav__location {
      display: flex;
      color: #cacaca;
  
      font-size: 0.5rem;
      align-items: center;
      justify-content: center;
      font-weight: 100;
      position: absolute;
      top: 2.3rem;
      right: 1rem;
    }
    .nav__location i {
      padding: 0.3rem;
    }
    .nav__menu {
      position: absolute;
      display: flex;
      flex-direction: column; /* Stack items vertically */
      align-items: center;
      background-color: rgba(255, 255, 255, 0.13);
      top: -15rem;
      width: 100%;
      transition: all ease-in-out 0.4s;
    }
  
    .nav__menu ul {
      flex-direction: column;
      width: 100%;
      padding: 3rem 0 0.6rem;
      align-items: center;
      justify-content: space-evenly;
      height: 100%;
    }
    .nav__menu ul li button {
      width: unset;
      padding: 1.5rem 0;
      font-size: 1.5rem;
      width: 50vw;
    }
    .nav__menu ul li {
      text-align: center;
      width: 100%;
      margin: 1rem 0;
    }
  
    .nav__menu {
      display: none;
    }
  
    .nav__menu.active {
      display: flex;
      flex-direction: column;
      position: absolute;
      top: 0;
      right: 0;
      background-color: #000000f6;
      width: 100%;
      z-index: 800;
      backdrop-filter: blur(5px);
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      overflow-x: hidden;
    }
  
    .nav__hamburger.active .nav__hamburger__line:nth-child(1) {
      transform: rotate(45deg) translate(0.45rem, 0.1875rem);
    }
  
    .nav__hamburger.active .nav__hamburger__line:nth-child(2) {
      opacity: 0;
    }
  
    .nav__hamburger.active .nav__hamburger__line:nth-child(3) {
      transform: rotate(-45deg) translate(0.25rem, -0.01975rem);
    }
  
    .nav__hamburger.active .nav__hamburger__line {
      transition: all ease-in-out 0.35s;
      background-color: rgb(255, 255, 255);
  
      z-index: 2000;
    }
  }
  
  /* end of Nav Styles   */