/* global/overall styles  */

html {
    scroll-behavior: smooth;
  }
  /* General Reset */
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
  }
  /* End of Global/Overall styles */

/* Navbar Styles */

  
  .nav {
  
    padding: 0rem 6rem;
    /* backdrop-filter: blur(1px); */
    display: flex;
    justify-content: space-between;
    align-items: center;
  
    width: 100%;
    border-radius: 0 0 8px 8px; /* Slight rounding for modern feel */
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 
                    0 2px 4px rgba(0, 0, 0, 0.06); */
    transition: box-shadow 0.3s ease-in-out;
    animation: fade-down 0.7s;

  }
  
  .nav__logo,
  .nav__logo a {
    
    text-align: center;
    font-size: 1.5rem;
    color: #000000;
    /* text-shadow: 0px 2px 5px rgba(134, 172, 255, 0.3); */
  
    font-weight: bold;
  }
  .nav__logo__highlight {
    color: #0288d1;
  }
  .nav__logo img {
    padding: 0 4px;
    width: 100%;
  }
  
  .nav__menu ul {
    display: flex;
    list-style: none;
  }
  
  .nav__menu ul li {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .nav__menu ul li a i {
    font-size: 2.5rem;
  }
  
  .nav__menu ul li a {
    font-weight: 400;
    margin-left: 1.5rem;
    font-size: 1.5rem;
    font-family: "IBM Plex Sans", sans-serif;
    transition: color 0.3s ease;
  }
  .navPayPalBtn {
    background: linear-gradient(45deg, #0070ba, #003f87);
    border: none;
    padding: 8px 20px;
    color: white;
    font-family: "Poppins", sans-serif;
    font-size: 1rem;
    display: none;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    transition: background 0.3s ease, transform 0.2s ease;
    width: 6rem;
  }
  .navCashAppBtn {
    background: linear-gradient(45deg, #00c244, #00796b);
    width: 6rem;
    border: none;
    padding: 8px 20px;
    color: white;
    font-family: "Poppins", sans-serif;
    font-size: 1rem;
    display: none;
    align-items: center;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    transition: background 0.3s ease, transform 0.2s ease;
  }
  .nav__menu ul li a:hover,
  .nav__menu ul li a:focus {
    /* border-bottom: 2px solid var(--accent-color); */
    color: var(--accent-color);
    transform: translateY(-2px);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  }
  
  .nav__hamburger {
    width: 1.5rem;
    z-index: 2000;
    height: 1rem;
    display: none;
    color: #fff;
    flex-direction: column;
    justify-content: space-around;
  }
  
  .nav__hamburger__line {
    height: 0.13rem;
    width: 100%;
    background-color: #0288d1;
    border-radius: 0.625rem;
    transition: all ease-in-out 0.2s;
  }
  
  /* iphone ver */
  @media screen and (min-width: 375px) and (max-width: 812px) and (orientation: portrait) {
    .navUpper {
      height: unset;
      flex-direction: row;
      border-radius: unset;
      padding: 1rem 2rem;
    }
  
    .nav__logo,
    .nav__logo a {
      font-weight: 300;
      padding: 0;
      font-size: 1.25rem;
      line-height: 1;
      width: 12rem;
      text-align: left;
      font-family: "Zilla Slab", serif;
    }
    .nav__menu ul li a,
    .nav__menu ul li a i {
      color: #fffcfc;
      font-size: 2rem;
    }
    .nav__hamburger {
      display: flex;
    }
    .nav__location {
      display: flex;
      color: #cacaca;
  
      font-size: 0.5rem;
      align-items: center;
      justify-content: center;
      font-weight: 100;
      position: absolute;
      top: 2.3rem;
      right: 1rem;
    }
    .nav__location i {
      padding: 0.3rem;
    }
    .nav__menu {
      position: absolute;
      display: flex;
      flex-direction: column; /* Stack items vertically */
      align-items: center;
      background-color: rgba(255, 255, 255, 0.13);
      top: -15rem;
      width: 100%;
      transition: all ease-in-out 0.4s;
    }
  
    .nav__menu ul {
      flex-direction: column;
      width: 100%;
      padding: 0rem;
      align-items: center;
      justify-content: space-evenly;
      height: 100%;
    }
    .nav__menu .nav__menuUl {
      padding-top: 3rem;
    }
    .nav__menu ul li button {
      width: unset;
      padding: 1.5rem 0;
      font-size: 1.5rem;
      width: 50vw;
    }
    .nav__menu ul li {
      text-align: center;
      width: 100%;
      margin: 1rem 0;
    }
  
    .nav__menu {
      display: none;
    }
  
    .nav__menu.active {
      display: flex;
      flex-direction: column;
      position: absolute;
      top: 0;
      right: 0;
      background-color: #000000f6;
      width: 100%;
      z-index: 1000;
      backdrop-filter: blur(5px);
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      overflow-x: hidden;
    }
  
    .nav__hamburger.active .nav__hamburger__line:nth-child(1) {
      transform: rotate(45deg) translate(0.45rem, 0.1875rem);
    }
  
    .nav__hamburger.active .nav__hamburger__line:nth-child(2) {
      opacity: 0;
    }
  
    .nav__hamburger.active .nav__hamburger__line:nth-child(3) {
      transform: rotate(-45deg) translate(0.25rem, -0.01975rem);
    }
  
    .nav__hamburger.active .nav__hamburger__line {
      transition: all ease-in-out 0.35s;
      background-color: rgb(255, 255, 255);
  
      z-index: 2000;
    }
  }
  
  @media screen and (min-width: 667px) and (max-width: 935px) and (orientation: landscape) {
    .navUpper {
      height: unset;
      flex-direction: row;
      border-radius: unset;
      padding: 1rem 2rem;
    }
  
    .nav__logo,
    .nav__logo a {
      font-weight: 100;
      padding: 0;
      font-size: 1rem;
      line-height: 1;
      width: 10rem;
      text-align: left;
    }
    .nav__menu ul li a,
    .nav__menu ul li a i {
      color: #fffcfc;
      font-size: 2rem;
    }
    .nav__hamburger {
      display: flex;
    }
    .nav__location {
      display: flex;
      color: #cacaca;
  
      font-size: 0.5rem;
      align-items: center;
      justify-content: center;
      font-weight: 100;
      position: absolute;
      top: 2.3rem;
      right: 1rem;
    }
    .nav__location i {
      padding: 0.3rem;
    }
    .nav__menu {
      position: absolute;
      display: flex;
      flex-direction: column; /* Stack items vertically */
      align-items: center;
      background-color: rgba(255, 255, 255, 0.13);
      top: -15rem;
      width: 100%;
      transition: all ease-in-out 0.4s;
    }
  
    .nav__menu ul {
      flex-direction: column;
      width: 100%;
      padding: 3rem 0 0.6rem;
      align-items: center;
      justify-content: space-evenly;
      height: 100%;
    }
    .nav__menu ul li button {
      width: unset;
      padding: 1.5rem 0;
      font-size: 1.5rem;
      width: 50vw;
    }
    .nav__menu ul li {
      text-align: center;
      width: 100%;
      margin: 1rem 0;
    }
  
    .nav__menu {
      display: none;
    }
  
    .nav__menu.active {
      display: flex;
      flex-direction: column;
      position: absolute;
      top: 0;
      right: 0;
      background-color: #000000f6;
      width: 100%;
      z-index: 800;
      backdrop-filter: blur(5px);
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      overflow-x: hidden;
    }
  
    .nav__hamburger.active .nav__hamburger__line:nth-child(1) {
      transform: rotate(45deg) translate(0.45rem, 0.1875rem);
    }
  
    .nav__hamburger.active .nav__hamburger__line:nth-child(2) {
      opacity: 0;
    }
  
    .nav__hamburger.active .nav__hamburger__line:nth-child(3) {
      transform: rotate(-45deg) translate(0.25rem, -0.01975rem);
    }
  
    .nav__hamburger.active .nav__hamburger__line {
      transition: all ease-in-out 0.35s;
      background-color: rgb(255, 255, 255);
  
      z-index: 2000;
    }
  }
  
  /* end of Nav Styles   */