/* global/overall styles  */
:root{
  --soft-blue:#66C3FF;
    --accent-color: #53D8FB;
    --accent-color: #00bdec;
    --grey:#DCE1E9;
    --black:#363732;

    /* padding */

    --section-padding-y: 1.5rem; /* top & bottom */
    --section-padding-x: 3rem; /* left & right */
}


html {
    scroll-behavior: smooth;
  }
  /* General Reset */
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
  }
  /* End of Global/Overall styles */
/* fixed banner */
.fixedBanner{
  display: flex;
  justify-content: center;
  background-color: var(--black);
  padding: .75rem;
}

.fixedBanner p{
  color:#fff ;
  font-weight: bold;
}
/* end of fixed banner */
/* Navbar Styles */

  
  .nav {
  
    padding: .5rem 1.25rem;
    /* backdrop-filter: blur(1px); */
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: box-shadow 0.3s ease-in-out;
    animation: fade-down 0.7s;
    background-color: #fff;

  }
  
  .nav__logo,
  .nav__logo a {
    text-align: center;
    font-size: 1rem;
    color: #fff;
    font-weight: bold;
    background-color: var(--accent-color);
    padding: .3rem ;
  }
  .nav__logo__highlight {
    color:#fff;
    font-size: 1rem;
  }
  .nav__logo img {
    padding: 0 4px;
    width: 100%;
  }
  
  .nav__menu ul {
    display: flex;
    list-style: none;
  }
  
  .nav__menu ul li {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .nav__menu ul li a i {
    font-size: 2.5rem;
  }
  
  .nav__menu ul li a {
    color: var(--accent-color);
    margin-left: 1.5rem;
    font-size: 1.5rem;
    transition: color 0.3s ease;
  }

  .nav__menu ul li a:hover,
  .nav__menu ul li a:focus {
    /* border-bottom: 2px solid var(--accent-color); */
    color:var(--black);
    transform: translateY(-2px);
  }
  
  .nav__hamburger {
    width: 1.5rem;
    z-index: 2000;
    height: 1rem;
    display: none;
    color: #fff;
    flex-direction: column;
    justify-content: space-around;
  }
  
  .nav__hamburger__line {
    height: 0.13rem;
    width: 100%;
    background-color: var(--accent-color);
    border-radius: 0.625rem;
    transition: all ease-in-out 0.2s;
  }
/* mission section */
.MissionStatement{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: url(Photos/joel-muniz-3k3l2brxmwQ-unsplash.jpg);
    background-size: cover;       /* Makes the image cover the entire section */
    background-position: center;  /* Centers the image */
    background-repeat: no-repeat; 
    padding: 2rem 4rem;
}
.missionsParagraphContainer{
    display: flex;
    align-items: center;   
    text-align: center;

}
.missionParagraph{
    color: #fff;
    font-size: 2rem;
}
  

.MissionImgContainer{
}

.MissionImgContainer img{
    object-fit: contain;
    width: 100%;
    height: 100%;
}



  /* end of mission statement */


  /* card section  */

/* From Uiverse.io by Admin12121 */ 
.cardSection {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  position: relative;
  display: flex;
  justify-content: center;
  cursor: pointer;
  width: 22em;
  max-width: 80%;
  padding: 2em 0;
  background: #FFF;
  box-shadow: 0 0 6px 0 rgba(32, 32, 36, 0.12);
  transition: all 0.35s ease;
}

.card::before, .card::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background: orange;
  height: 4px;
}

.card::before {
  width: 0;
  opacity: 0;
  transition: opacity 0 ease, width 0 ease;
  transition-delay: 0.5s;
}

.card::after {
  width: 100%;
  background: white;
  transition: width 0.5s ease;
}

.card .content {
  width: 18em;
  max-width: 80%;
}

.card .logo {
  margin: 0 0 1em;
  width: 10.625em;
  transition: all 0.35s ease;
}

.card .h6 {
  color: #999;
  font-weight: 600;
  text-transform: uppercase;
  margin: 0;
  letter-spacing: 2px;
}

.card .hover_content {
  overflow: hidden;
  max-height: 0;
  transform: translateY(1em);
  transition: all 0.55s ease;
}

.card .hover_content p {
  margin: 1.5em 0 0;
  color: #6E6E70;
  line-height: 1.4em;
}

.card:hover {
  width: 24em;
  box-shadow: 0 10px 20px 0 rgba(32, 32, 36, 0.12);
}

.card:hover::before {
  width: 100%;
  opacity: 1;
  transition: opacity 0.5s ease, width 0.5s ease;
  transition-delay: 0;
}

.card:hover::after {
  width: 0;
  opacity: 0;
  transition: width 0 ease;
}

.card:hover .logo {
  margin-bottom: 0.5em;
}

.card:hover .hover_content {
  max-height: 10em;
  transform: none;
}
  /* end of card section styles */



  /* footer styles */
  
  /* end of swiper */
  .footer {
    background-color: rgba(0, 0, 0, 0.918);
    padding: 1rem 0;
  }
  
  .footer__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 2rem;
  }
  
  .footer__logo {
    flex: 1;
    text-align: center;
  }
  
  .footer__logo img {
    width: 100px;
    margin-bottom: 1rem;
  }
  
  .footer__logo p {
    font-size: 1rem;
    color: #aaa;
  }
  
  .footer__links,
  .footer__contact,
  .footer__social {
    flex: 1;
    margin: 1rem 0;
    text-align: center;
  }
  
  .footer__links h4,
  .footer__contact h4,
  .footer__social h4 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    color: #fff;
  }
  
  .footer__links ul {
    list-style: none;
    padding: 0;
  }
  
  .footer__links ul li {
    margin: 0.5rem 0;
  }
  
  .footer__links ul li a {
    text-decoration: none;
    font-size: 1.1rem;
    color: #fff;
    transition: color 0.3s ease;
  }
  
  .footer__links ul li a:hover {
    border-bottom: 2px solid var(--accent-color);
    color: var(--primary-color);
  }
  
  .footer__contact p {
    margin: 0.5rem 0;
    font-size: 1.1rem;
    color: #fff;
  }
  
  .footer__contact a {
    font-weight: bold;
    color: #fff;
  
    text-decoration: none;
  }
  .footer__contact a:hover {
    border-bottom: 2px solid var(--accent-color);
    color: white;
  }
  
  .footer__social a {
    margin: 0 0.5rem;
  }
  
  .footer__social i {
    font-size: 2rem;
    color: #fff;
  }
  
  .footer__social i:hover {
    transition: all 0.3s ease;
    color: var(--accent-color);
  }
  
  .footer__copyright {
    text-align: center;
    color: #fff;
  
    padding: 1rem 0;
    background-color: #00000049;
  
    font-size: 0.9rem;
  }
  /* end of footer styles */
  /* iphone ver */
  @media (max-width: 768px) {
.nav{
  padding: .5rem 1rem;
}
    .nav__logo,
    .nav__logo a {
      font-size: 0.75rem;
      width: 12rem;

    }
    .nav__menu ul li a,
    .nav__menu ul li a i {
      color: #fffcfc;
      font-size: 2rem;
    }
    .nav__hamburger {
      display: flex;
    }
    .nav__location {
      display: flex;
      color: #cacaca;
  
      font-size: 0.5rem;
      align-items: center;
      justify-content: center;
      font-weight: 100;
      position: absolute;
      top: 2.3rem;
      right: 1rem;
    }
    .nav__location i {
      padding: 0.3rem;
    }
    .nav__menu {
      position: absolute;
      display: flex;
      flex-direction: column; /* Stack items vertically */
      align-items: center;
      background-color: rgba(255, 255, 255, 0.13);
      top: -15rem;
      width: 100%;
      transition: all ease-in-out 0.4s;
    }
  
    .nav__menu ul {
      flex-direction: column;
      width: 100%;
      padding: 0rem;
      align-items: center;
      justify-content: space-evenly;
      height: 100%;
    }
    .nav__menu .nav__menuUl {
      padding-top: 3rem;
    }
    .nav__menu ul li button {
      width: unset;
      padding: 1.5rem 0;
      font-size: 1.5rem;
      width: 50vw;
    }
    .nav__menu ul li {
      text-align: center;
      width: 100%;
      margin: 1rem 0;
    }
  
    .nav__menu {
      display: none;
    }
  
    .nav__menu.active {
      display: flex;
      flex-direction: column;
      position: absolute;
      top: 0;
      right: 0;
      background-color: #000000f6;
      width: 100%;
      z-index: 1000;
      backdrop-filter: blur(5px);
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      overflow-x: hidden;
    }
  
    .nav__hamburger.active .nav__hamburger__line:nth-child(1) {
      transform: rotate(45deg) translate(0.45rem, 0.1875rem);
    }
  
    .nav__hamburger.active .nav__hamburger__line:nth-child(2) {
      opacity: 0;
    }
  
    .nav__hamburger.active .nav__hamburger__line:nth-child(3) {
      transform: rotate(-45deg) translate(0.25rem, -0.01975rem);
    }
  
    .nav__hamburger.active .nav__hamburger__line {
      transition: all ease-in-out 0.35s;
      background-color: rgb(255, 255, 255);
  
      z-index: 2000;
    }
    .MissionStatement{
      flex-direction: column;
      padding:.5rem;
      padding-bottom: 2rem;
    }
    .missionParagraph{
      font-size: 1.25rem;
    }

    .MissionImgContainer{
      display: flex;
      justify-content: center;
    }
    .MissionImgContainer img{
      width: 50%;
      height: 50%;
  }

  .card{
align-items: center;  padding: .5rem;
width: 100%;
max-width: unset
}

.cardImageContainer{
  border-radius: 20px;
}
.cardSection{
  flex-wrap: wrap;        /* allows cards to move to a new line */
flex-direction: column;

}

  
};
  

  
 